.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    h1{
        margin-top: 10px;
    }
    form{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p{
            width: 40%;
            mat-form-field{
                width: 100%;
            }
        }
    }
}