<div class="container">
  <h1 i18n>{{ titleChange() }} Użytkownika</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Podaj Imię:</mat-label>
        <input matInput formControlName="userName" />
        <mat-error *ngIf="userNameError()">{{ userNameError() }}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Podaj Nazwisko:</mat-label>
        <input matInput formControlName="userSurname" />
        <mat-error *ngIf="userSurnameError()">{{
          userSurnameError()
        }}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Podaj wiek:</mat-label>
        <input matInput formControlName="userAge" />
        <mat-error *ngIf="userAgeError()">{{ userAgeError() }}</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit" [disabled]="userForm.invalid" i18n>
      Dodaj użytkownika
    </button>
  </form>
</div>
