table {
    width: 100%;
  }
  
th.mat-sort-header-sorted {
    color: black;
}
section{
    position: relative;
    height: 100px;
    mat-form-field{
        position: absolute;
        width: 80%;
        bottom: 0;
        left: 0;
        // transform: translateY(-50%);
    }
    button{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.actions{
    &__edit, &__delete{
        cursor: pointer;
    }
}