<div class="container">
  <h1 i18n>Lista zadań</h1>
  <section>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <button mat-raised-button routerLink="../task-form">Dodaj zadanie</button>
  </section>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Nazwa</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Data</th>
        <td mat-cell *matCellDef="let row">{{ row.date | date : "d.MM.y" }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>akcje</th>
        <td mat-cell *matCellDef="let row">
          <div class="actions">
            <span
              class="actions__edit"
              title="edytuj"
              [routerLink]="['../task-form', row.id]"
              i18n
              >Edytuj</span
            >
            |
            <span
              class="actions__delete"
              title="usun"
              (click)="openDialogForDelete(row)"
              i18n
              >Usuń</span
            >
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" i18n>
          Nie wyszukano: "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
