<mat-drawer-container class="navbar" autosize color="secondary">
  <mat-drawer #drawer class="navbar__sidenav" mode="side" opened>
    <a routerLink="/admin" i18n>Strona Główna</a>
    <a routerLink="/admin/user-list" i18n>Lista Użytkowników</a>
    <a routerLink="/admin/task-list" i18n>Lista Zadań</a>
  </mat-drawer>
  <mat-drawer-content>
    <div class="navbar__btn">
      <a mat-button (click)="drawer.toggle()">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
    <div class="contrainer">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
