.navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__sidenav {
        padding: 20px;
        a{
            display: block;
            padding: 10px 0;
            color: white;
            text-decoration: none;
        }
    }
    &__btn a{
        position: absolute;
        font-size: 25px;
        // padding: 5px;
        cursor: pointer;
    }
}
.contrainer{
    max-width: 1280px;
    margin: 30px auto 0;
    padding: 0 10px;
}
  