<div class="container">
  <h1 mat-dialog-title i18n>Usuwanie {{ titleChange() }}</h1>
  <div mat-dialog-content i18n>
    Czy na pewno chcesz usunąć {{ titleChange() }}: "{{ data.name }}
    {{ data.surname }}" ?
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" i18n>Nie</button>
    <button
      class="btn-focus"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      i18n
    >
      Tak
    </button>
  </div>
</div>
