<div class="container">
  <h1 i18n>{{ titleChange() }} zadań</h1>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label i18n>Podaj Nazwę:</mat-label>
        <input matInput formControlName="taskName" />
        <mat-error *ngIf="taskNameError()">{{ taskNameError() }}</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit" [disabled]="taskForm.invalid" i18n>
      Dodaj zadanie
    </button>
  </form>
</div>
